
/* updates to the header */
/* google fonts */
/* font-family: 'Ultra', serif; */
/* font-family: 'Indie Flower', cursive; */

/* Cound get the photo to work properly..... */
/* body #skyline{
    height: 100%;
    width: 100%;
    z-index: -1;

    

}
body{
    z-index: 1000;
} */
.heading{ 
    height: 150px;
    background: rgb(0,79,246);
background: -moz-radial-gradient(circle, rgba(0,79,246,0.89) 86%, rgba(0,0,0,1) 100%);
background: -webkit-radial-gradient(circle, rgba(0,79,246,0.89) 86%, rgba(0,0,0,1) 100%);
background: radial-gradient(circle, rgba(0,79,246,0.89) 86%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004ff6",endColorstr="#000000",GradientType=1);
    margin-top: 0px;
    border-top: 20px;
    justify-content: center;
    display: flex;
    text-decoration: underline;
    font-family: 'Indie Flower', cursive;
   
}
h2,p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* #currentDay p{
    display: flex;
    align-items: center;
    align-items: baseline; */
/* } */

#content{
    padding-left: 25px;

}
#form{
    padding: 15PX,15PX,12px,0;
    margin-top: 20px;
    height: 500px;
    border-radius: 12px;
    background: rgb(189,255,0);
background: -moz-radial-gradient(circle, rgba(189,255,0,1) 69%, rgba(45,161,84,1) 76%);
background: -webkit-radial-gradient(circle, rgba(189,255,0,1) 69%, rgba(45,161,84,1) 76%);
background: radial-gradient(circle, rgba(189,255,0,1) 69%, rgba(45,161,84,1) 76%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bdff00",endColorstr="#2da154",GradientType=1);
}
h6{
    color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
}
h3{
    font-family: 'Indie Flower', cursive;
    padding: 0px, 30px, 0, 10px ; 
   margin: 0;
}

h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#UVdata{
    display: none;
}

#uvIndex{
    width: 60px;
    border-radius: 10px;
    padding-left: 6px;

}
#one, #two, #three, #four, #five {
    margin: 10px 20px 10px 0px;
    border-radius: 10px;
    height: 220px;
    width: 190px;
    float: left;
    box-shadow: 5px 5px 10px 0px rgba(77,77,77,1);
    background: rgb(189,255,0);
background: -moz-radial-gradient(circle, rgba(189,255,0,1) 69%, rgba(45,161,84,1) 76%);
background: -webkit-radial-gradient(circle, rgba(189,255,0,1) 69%, rgba(45,161,84,1) 76%);
background: radial-gradient(circle, rgba(189,255,0,1) 69%, rgba(45,161,84,1) 76%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bdff00",endColorstr="#2da154",GradientType=1);

}
#cityBtns {
    margin-top: 20px;
}

#searchBtn {
    background: rgb(0,79,246);
background: -moz-radial-gradient(circle, rgba(0,79,246,0.89) 86%, rgba(0,0,0,1) 100%);
background: -webkit-radial-gradient(circle, rgba(0,79,246,0.89) 86%, rgba(0,0,0,1) 100%);
background: radial-gradient(circle, rgba(0,79,246,0.89) 86%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004ff6",endColorstr="#000000",GradientType=1);
    
}

.cityButtons {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    height: 40px;
    margin-bottom: 5px;
    color: #ffffff;
    background-color:black
}

@media (max-width: 550px) {
    .heading{
        height: 130px;
    }
    #form {
        width: 340px;
    }
    .form-control {
        width: 80%;
    }
    .container {
        width: 80%;
    }
    #cityInfo {
        height: 390px;
    }
}

